/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: min(100%, 700px);
  margin: 100px 0;
  border: 2px solid #000;
  padding: 128px 14px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  background-color: var(--bg-color, #fff);
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  line-height: 100%;
  padding-block-end: 20px;
}

.header_text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 105px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-card);
  border: 2px solid #000;
  inline-size: min(100%, 700px);
  max-inline-size: 700px;
}

.card:not(:last-child) {
  margin-block-end: 49px;
}

.card__header {
  padding: 5px 24px 4px 10px;
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--heading-font-weight, 700);
  font-size: 18px;
  line-height: normal;
  border-bottom: var(--border);
}

.card__image-wapper {
  position: relative;
}

.card__image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.image-label {
  position: absolute;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  line-height: 100%;
  font-weight: var(--main-font-weight, 400);
  font-size: 14px;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  filter: none;
  opacity: 0.5;
  text-shadow: -1px 0 var(--stroke-color, #fff), 0 1px var(--stroke-color, #fff),
    1px 0 var(--stroke-color, #fff), 0 -1px var(--stroke-color, #fff);
}


@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__content {
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  font-size: 18px;
  line-height: 21px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  height: 100%;
}

.button {
  border: var(--border);
  padding: 10px 35px;
  transition: 0.3s ease;
  background-color: var(--bg-color);
  position: relative;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight, 400);
  font-size: 14px;
  line-height: 90%;
}

.button__text {
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.button__image {
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.save-button {
  max-inline-size: 335px;
  padding: 15px 18px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.save-button .button__image {
  inline-size: 21px;
  block-size: 21px;
}

.button:focus {
  box-shadow: 2px 2px 0px #000;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px #000;
}

.button:hover::before {
  transform: scaleX(1);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #000;
}


.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s backwards;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon:hover .main-body,
.like-icon:hover .core {
  fill: var(--contour-fill-color);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon:active .core,
.like-icon:active .main-body,
.like-icon.is-liked .main-body
 {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.is-liked .heart {
  animation: scale 0.3s ease-in backwards 0.1s;
  transform-origin: center;
}

.filter-saturate {
  filter: saturate(0.2);
}

.filter-brightness {
  filter: brightness(2.5);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-blur {
  filter: blur(4px);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-shadow {
  filter: drop-shadow(5px 15px 3px rgba(0, 0, 0, 0.8));
}

.filter-hue {
  filter: hue-rotate(-90deg);
}

.filter-combo {
  filter: invert(0.7) blur(4px);
}


.save-dialog[open] {
  background-color: var(--bg-color);
  border: var(--border);
  max-inline-size: 353px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.save-dialog::backdrop {
  background-color: rgba(0 0 0/ 0.75);
}

.dialog__text-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: var(--accent-font);
}

.save-dialog .button__image {
  min-inline-size: 39px;
  block-size: 39px;
}


@media (width <= 375px) {
  .header {
    padding: 120px 14px;
  }
  .image-label {
    right: 13px;
  }
  .save-button {
    flex-direction: column;
  }
  .save-button .button__image {
    inline-size: 28px;
    block-size: 28px;
  }
}